.env
node_modules
package-lock.json
npm-debug.log
yarn-error.log  

.DS_Store
.vscode
.idea
*.sublime-project

*.sublime-workspace
*.sublime-settings

*.sublime-menu
*.sublime-keymap
*.sublime-completions
*.sublime-syntax

