 /* Button css */

 /* .custom-background {
  background: linear-gradient(179deg, rgba(0, 0, 0, 1), rgba(152, 16, 250, 1));
-webkit-background: linear-gradient(179deg, rgba(0, 0, 0, 1), rgba(152, 16, 250, 1));
-moz-background: linear-gradient(179deg, rgba(0, 0, 0, 1), rgba(152, 16, 250, 1));
 } */

 .custom-background {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-color: black;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -5px -5px
}




  /* Scroll Bar */
/* Apply styles only to elements inside the sidebar */
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 80px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(20deg, #00aeff, #a68eff);
    border-radius: 80px;
  }

  /* Firefox Support */
  .custom-scrollbar {
    scrollbar-color: #00aeff #a68eff;
  }
}
